<h1>All Da Code Snips</h1>
<div class="all-snippet-container">
  {{#allSnips}}
  <div class="snippet-container">
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    <p>Additional Notes: {{notes}}</p>
    <p>Language: {{language}}</p>
    <p>Tags: {{#tags}}{{name}}{{/tags}}</p>
  </div>
  {{/allSnips}}
</div>
