<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Code Snippet App</title>
  </head>
  <body>

    {{{yield}}}

  </body>
</html>
