<h1>Make a new Snip</h1>
<div class="new-snip-form-container">
  <form class="new-snip-form" action="/newSnippet" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="body">The Code</label>
    <textarea name="body" rows="8" cols="80"></textarea>
    <label for="notes">Additional Notes</label>
    <input type="text" name="notes">
    <label for="language">Language</label>
    <input type="text" name="language">
    <label for="name">Tags (Separate with commas)</label>
    <input type="text" name="name">
    <input type="submit" name="submitButton" value="Submit">
  </form>
</div>
